@use "variables";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid black;
  border-top-left-radius: variables.$border-radius;
  border-top-right-radius: variables.$border-radius;
  background-color: variables.$header-color;
  font-size: 2rem;

  .flex-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  span {
    font-weight: bold;
  }

  .flex-right i {
    cursor: pointer;
  }
}
